<div id="<%= dom_id expense_category %>">
  <p>
    <strong>User:</strong>
    <%= expense_category.user_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= expense_category.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= expense_category.description %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= expense_category.active %>
  </p>

  <p>
    <strong>Universal:</strong>
    <%= expense_category.universal %>
  </p>

</div>
