<p style="color: green"><%= notice %></p>

<%= render @income %>

<!-- div>
  <%= link_to "Edit this income", edit_income_path(@income) %> |
  <%= button_to "Destroy this income", @income, method: :delete %>

  <%= link_to "Back to incomes", incomes_path %>
</!-->
<!-- %= link_to "New income", new_income_path % -->

<%= link_to "Cancel", user_path(@user) %>