<div id="<%= dom_id expense %>">
  <p>
    <strong>User:</strong>
    <%= expense.user_id %>
  </p>

  <p>
    <strong>Expense category:</strong>
    <%= expense.expense_category_id %>
  </p>

  <p>
    <strong>Expense type:</strong>
    <%= expense.expense_type %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= expense.name %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= expense.amount %>
  </p>

  <p>
    <strong>Interval:</strong>
    <%= expense.interval %>
  </p>

  <p>
    <strong>Min payment:</strong>
    <%= expense.min_payment %>
  </p>

  <p>
    <strong>Generated payment:</strong>
    <%= expense.generated_payment %>
  </p>

  <p>
    <strong>Balance at entry:</strong>
    <%= expense.balance_at_entry %>
  </p>

  <p>
    <strong>Due date:</strong>
    <%= expense.due_date %>
  </p>

  <p>
    <strong>Interest rate:</strong>
    <%= expense.interest_rate %>
  </p>

  <p>
    <strong>Min pmnt calc percent:</strong>
    <%= expense.min_pmnt_calc_percent %>
  </p>

  <p>
    <strong>Avg monthly cost:</strong>
    <%= expense.avg_monthly_cost %>
  </p>

  <p>
    <strong>Mortgage:</strong>
    <%= expense.mortgage_id %>
  </p>

  <p>
    <strong>Heloc:</strong>
    <%= expense.heloc_id %>
  </p>

</div>
